div.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

div.grid div:not(.pagination) {
    background: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin: 10px 0;
}

.infosVille h2{
    align-self: center;
}

.linkVille {
    margin: 5px 0;
}

h3 {
    font-style: italic;
    padding-top: 0;
}

div.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-size: 1.5em;
    gap: 1em;
}

.disabledHref {
    pointer-events: none;
}